*{
    margin: 0;
}
body{
    background:linear-gradient(90deg, rgb(183, 75, 255), rgb(0, 238, 255), rgb(241, 83, 255));
    font-family:sans-serif;
    color: white;
}
.container{
    width: 32rem !important;
    height: 14rem;
    background-color: rgb(64, 59, 59);
    margin: 4rem auto;
    border-radius: 15px;
    text-align: center;
}
.container h1{
   margin-left: -40px;
    padding-top: 30px;
    background: linear-gradient(to right, #00ff6f, #009aff);
    color: transparent;
    background-clip: text;
   }
hr{
    border-bottom: solid #1aff79;
    border-top: solid #73eba8;
}
.container img{
    height: 45px;
    position: absolute;
}

input{
    padding: 10px;
    border: 3px solid #00b118;
    outline: none;
    width: 20rem;
    margin-top: 30px;
    border-radius: 5px;
}
button{
    height: 38px;
    background-color: #169e2f;
    color: white;
    width: 55px;
    border-radius: 4px;
}
.displaytext{
    margin-top: 40px;
    
}
.displaytext li{
   
    border: 1px solid #73eba8;
    list-style: none;
    width: 92%;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color:  rgb(64, 59, 59);
    color: white;
}
li button{
    height: 22px;
    font-size: 12px !important;
    padding: 0px !important;
}

.txt{
    width: 400px !important;
    margin: 0 auto !important;
    margin-top: -32px !important; 
}